<!DOCTYPE html>
<html>
<head>
  <title>Hoodz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Hoodz</h1>

<% if current_user %>
  <span id="welcome">
    Welcome back, <%= current_user.first_name %>! 
    <p id="logout"><%= link_to 'Log Out', sessions_path, method: :delete %> </p>
    <p id="main-menu"><%= link_to 'Main Menu', nyc_index_path %> </p>
  </span>
<% else %>
  <div id="login">
    <%= link_to 'Sign Up', new_user_path %> |
    <%= link_to 'Log In', sessions_new_path %>
  </div>
<% end %>

<div id="guess-ui"></div>
<div id="tool-tip"></div>
<div id="mode-menu"></div>
<div id="points"></div>

<%= yield %>

</body>
</html>
