<!DOCTYPE html>
<html>
<head>
  <title>Hoodz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Hoodz</h1>

<% if current_user %>
  <span id="welcome">
    Welcome back, <%= current_user.first_name %>!
    <%= link_to 'Log Out', sessions_path, method: :delete %>
    <p id="start-game"></p><%= link_to 'Start Game', nyc_index_path %>
    <p class="select">Select a Borough:</h3>
    <p class="1">Manhattan</p>
    <p class="2">Brooklyn</p>
    <p class="3">Queens</p>
    <p class="4">Bronx</p>
    <p class="5">Staten Island</p>


    <!-- <div id="map"></div> -->
  </span>
<% else %>
  <div id="login">
    <%= link_to 'Sign Up', new_user_path %> |
    <%= link_to 'Log In', sessions_new_path %>
  </div>
<% end %>

<div id="guess-ui"></div>


<%= yield %>



</body>
</html>
